<h1>Score#index</h1>
<p>Find me in app/views/score/index.html.erb</p>
<div>
sum of score = <%= 
@sumScore
%>
</div>
<div>
maximum subject's score = <%= 
@maxScoreSubject
%>
</div>

<%= button_to "Go to score list", '/score/list', method: :get %>